<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Capture Travel Request</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    body, .jumbotron { padding: 35px; }
    .text-giant      { font-size: 45px; }
  </style>
</head>
<body>


<h2>Capture Travel Request</h2>
<form>
  <p><label>Origination Airport? </label>
    <input class="form-control" type="text"></p>

  <p><label>Destination Airport? </label>
    <input class="form-control" type="text"></p>

  <p><label>Start Date? </label>
    <input class="form-control" type="date"></p>

  <p><label>End Date? </label>
    <input class="form-control" type="date"></p>

  <p><label>Number of Travellers? </label>
    <input type="range" class="form-control" name="quantity" value="1" min="1" max="20" step="1">

  <div class="form-group">
    <div class="col">
      <label for="Number">Number</label>
      <input class="form-control" (click)="recalc()" id="lhs" type="number" name="lhs">
    </div>
    <div class="col">
      <select class="form-control"  (click)="recalc()" name="operator">
        <option value="*">*</option>
      </select>
    </div>
    <div class="col">
      <label for="Per Price">Per Price</label>
      <input class="form-control" (click)="recalc()" id="rhs" type="number" name="rhs">
    </div>
  </div>
</form>

