<p>Captures Travel Request</p>

<form class="form-group" action="/action_page.php" class="was-validated">

  <p><label>Origination Airport? </label>
       <input class="form-control" type="text"></p>

  <p><label>Destination Airport? </label>
       <input class="form-control" type="text"></p>

  <p><label>Start Date? </label>
       <input class="form-control" type="date"></p>

  <p><label>End Date? </label>
       <input class="form-control" type="date"></p>

  <p><label>Number of Travellers? </label>
       <input class="form-control" type="number" min="1"></p>

  <button type="submit" class="btn btn-info">Submit</button>
</form>
